{% assign collections_per_row = settings.frontpage_collections_per_row %}

<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{{ 'collections.general.title' | t }}</h1>

    <div class="breadcrumb eight columns alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
      <span class="icon-right-arrow"></span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">{{ 'collections.general.title' | t }}</span></span>
    </div>
  </div>  
</div>

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    <div class="{% if collections_per_row == "2" %}eight columns{% elsif collections_per_row == "3" %}one-third column{% else %}four columns{% endif %} thumbnail {% cycle 'even', 'odd' %}">
      <a href="{{ collection.url }}" title="{{ collection_title }}">
        {% if collection.image %}
          <img src="{{ collection.image.src | collection_img_url: 'grande' }}" alt="{{ collection.image.alt }}" />
        {% else %}
          <img src="{{ collection.products.first.featured_image | product_img_url: 'grande' }}" alt="{{ collection.title | escape }}" />
        {% endif %}
        
        <div class="info">     
          <span class="price">
            {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'item', 'items' }}
          </span>                                         
          <span class="title">{{ collection.title }}</span>
        </div>
      </a>
    </div>
  
    {% if collections_per_row == "2" %}
      {% cycle '', new_row %}
    {% elsif collections_per_row == "3" %}
      {% cycle '', '', new_row %}    
    {% elsif collections_per_row == "4" %}  
      {% cycle '', '', '', new_row %}
    {% endif %}  
  {% endunless %}  
{% endfor %}

